<div class="card-deck">




<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Evaluación general</div>
  <div class="card-body">
    <h5 class="card-title">Planta </h5>
    <p class="card-text">Cemento, Clinker y Crudo</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Zonas Críticas de derrames</div>
  <div class="card-body">
    <h5 class="card-title">Areas</h5>
    <p class="card-text">Cemento, Clinker y Crudo</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Zonas Críticas de orden</div>
  <div class="card-body">
    <h5 class="card-title">Areas</h5>
    <p class="card-text">Cemento, Clinker y Crudo</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Zonas Críticas barrido</div>
  <div class="card-body">
    <h5 class="card-title">Areas</h5>
    <p class="card-text">Cemento, Clinker y Crudo</p>
  </div>
</div>


</div>
