<h1>Reportes</h1>
<p class="lead">Descripción</p>


<%= bar_chart Cancha.group(:nombre).sum(:capacidad) %>
<%= pie_chart Cancha.group(:nombre).sum(:capacidad) %>
<%= area_chart Cancha.group(:nombre).sum(:capacidad) %>
