
<div class="card-deck">


<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Evaluación general</div>
  <div class="card-body text-success">
    <h5 class="card-title">Areas</h5>
    <p class="card-text">Cemento</p>
    <p class="card-text">Clinker</p>
    <p class="card-text">Crudo</p>
  </div>
</div>
<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Zonas Críticas de derrames</div>
  <div class="card-body text-danger">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Zonas Críticas de orden</div>
  <div class="card-body text-info">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>




</div>




